/*****************************************************
 * node_modules imports
 *****************************************************/
 @import 'node_modules/bootstrap/scss/bootstrap.scss';

 /*****************************************************
  * project imports
  *****************************************************/
 @import 'variables';
 @import 'mixins';
 
 /*****************************************************
  * styles
  *****************************************************/
 html, body, app-root {
   overflow: auto;
   width   : 100%;
   height  : 100%;
   margin  : 0;
   padding : 0;
 }
 
 body {
   background-color: $mainBgColor;
   color: $mainTextColor;
 }
 
 .engine-wrapper{
 
   #renderCanvas {
     touch-action: none;
     max-width: 100%;
     max-height: 850px;
   }
 
   #renderCanvas:focus {
     outline: none;
   }
 }